Ignorar archivos de compilación de Arduino/PlatformIO

.pio/
.arduino/
build/
dist/
*.hex
*.elf
*.bin

Ignorar archivos temporales de Python

pycache/
*.pyc

Ignorar archivos de sistema y logs

.DS_Store
*.log

Ignorar configuraciones de IDE

.vscode/
.idea/
